.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Landing-page {
  text-align: center;
  color: white;
  padding: 2%;
}

.Emergency-page {
  text-align: center;
  color: white;
  padding: 2%;
}

.p-padding {
  padding: 2%;
}

.link,
.link:hover,
.link:active,
.link:visited {
  color: white;
  text-decoration: none;
}

.pdf-image {
  width: 75%;
}

body {
  font-family: "McLaren", cursive;
}
